/*Estilo de la barra*/
.barra-panel{
    overflow:auto;
    position:absolute;
    left:10px;
    top:80%;
    width:98.5%;
    right:20px;
    height:120px;
    z-index:1;
}

.border-panel{
    border: 1px solid RGB(0,0,0);
    background: RGB(215,201,168);
}

.punto-izq{
    border-top-left-radius:5px;
}

.barra-scroll{
    width:36030px;
}

/*Estilo del marco de las imagenes*/
figure{
    border:1px solid RGB(0,0,0);
    width:130px;
    height:100px;
    float:left;
    margin:10px;
}

/*Estilo de la imagenes*/
img{
    width:130px;
    height:100px;
}
